html, body {
    height: 100%;  
    margin: 0;
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
}

body {
    font-family: "Arima", serif;  
    color: #82b181;
    background-color: #ffffe4;  
    line-height: 1.6;  
}

main {
    flex: 1;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Katibeh", serif;  
    font-weight: 400;
    margin: 10px 0;  
}


.name {
    font-family: "Katibeh", serif;  
    font-weight: 400;  
    font-size: 100px;  
}

/* Header */
.header-container {
    display: flex;  
    align-items: center; 
    justify-content: space-between;  
    padding: 10px 20px;  
    background-color: #f2a7a0; 
}

.logo {
    cursor: pointer; 
    width: 50px;
    height: auto;
    object-fit: contain;
}

.menu-toggle {
    display: none;  
    background: none;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
}

.nav {
    display: flex;  
    justify-content: right;  
    gap: 15px;  
    background-color: #f2a7a0; 
    padding: 10px;
}

.nav a {
    text-decoration: none;  
    color: #ffffe4; 
    font-size: 16px;  
    padding: 8px 12px;  
    transition: background-color 0.3s ease;  
}

 Hover Effect */
.nav a:hover {
    background-color: #f28888; 
    color: white;
    border-radius: 5px;  
}

.nav.mobile {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px; 
    right: 20px;
    background-color: #f2a7a0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.nav.mobile.show {
    display: flex;  
}

.mobile-home {
    display: none; 
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;  
    }

    .nav {
        display: none; 
    }
    .mobile-home {
        display: block;
        padding: 10px;
        color: #ffffe4;
        text-decoration: none;
        font-size: 16px;
        background-color: #f2a7a0;
        border-radius: 5px;
        margin-bottom: 10px; 
    }

    .mobile-home:hover {
        background-color: #f28888;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.credit {
    color: #ffffe4;
    margin: 0;
    position: absolute;  
    bottom: 0; 
    left: 50%;  
    transform: translateX(-50%);  
    text-align: center; 
    background-color: #f2a7a0;  
    width: 100%;  
    padding: 10px; 
}

footer {
    position: relative;
    text-align: center;
    margin-top: 20px;  
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
}


/* Home Page*/
.pixel {
    width: 100px;  
    height: auto;  
    margin-bottom: 0;  
    margin-top: 200px;  
    padding: 0; 
}

#intro {
    text-align: center;
    color: #82b181;
    margin-top: 0px;
    padding: 0;  
}

.intro-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center;  
    height: 100vh; 
    text-align: center;  
}

/* About me Page */

#habout {
    text-align: center;
    margin-bottom: 20px; 
    font-size: 60px; 
    color: #82b181;  
}

#about {
    display: flex; 
    flex-direction: row-reverse;
    align-items: center; 
    justify-content: space-between; 
    max-width: 1200px; 
    margin: 0 auto;  
    padding: 20px; 
}

.about-text {
    max-width: 90%; 
    text-align: left;  
    line-height: 1.8; 
}

.realme {
    top: 50%; 
    padding-right: 20px;  
    width: 300px;
    height: auto; 
}

@media (max-width: 768px) {
    #about {
        padding-top: 0;
        margin: 0;
        flex-direction: column;  
        align-items: center; 
        justify-content: center;
    }

    .realme {
        padding-top: 20px;
        padding-left: 50px;
        max-width: 100%;  
        margin: 0 0 20px;  
    }

    .about-container {
        max-width: 100%; 
        padding: 20px 20px; 
    }

    .about-text {
        max-width: 100%; 
        text-align: center; 
    }
}

@media (max-width: 480px) {
    .realme {
        max-width: 70%;  
    }

    #habout {
        font-size: 40px;  
    }

    .about-text {
        font-size: 14px;
        line-height: 1.5;  
    }
}

/* Project */
#projects h1 {
    font-size: 60px;
    text-align: center;
}

#projects ul {
    display: flex;  
    flex-wrap: wrap;  
    justify-content: space-evenly;  
    list-style: none;  
    padding: 0;  
    margin: 0 auto;  
    gap: 10px;  
}

#projects li {
    flex: 1 1 calc(48% - 10px);  
    max-width: 48%;  
    box-sizing: border-box;  
    text-align: center;  
    margin-bottom: 10px;  
}

.imgbox {
    width: 100%;  
    max-width: 150px;  
    height: auto;  
    border-radius: 10px;  
    margin: 0 auto;  
    display: block;  
}

#projects a {
    width: 100%;  
    max-width: 150px;  
    height: auto;  
    border-radius: 10px;  
    margin: 0 auto;  
    display: block;  
}
/* Project Details */
#project-details h1 {
    font-size: 60px;
}

#project-details {
    padding-left: 30px;
    padding-right: 30px;
}
.screenshots {
    display: flex; 
    flex-direction: column;
    justify-content: center;  
    gap: 10px;  
    margin-top: 20px;  
}

.screenshots img {
    width: 1000px;  
    max-width: 100%;  
    border-radius: 5px;  
    margin: 5px; 
}

/* Skills Page */
#skills h1 {
    font-size: 60px;
}

#skills {
  text-align: left;  
  padding-top: 5px;  
  padding-bottom: 10px;  
  margin-left: 20px;
}

li {
    line-height: 2;
    display: hidden;
}

#html {
    width: 90%; 
    color: #ffffe4; 
    background-color: #82b181;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 10px;
} 
#css {
    width: 80%; 
    color: #ffffe4; 
    background-color: #f2a7a0;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 10px;
} 
#js {
    width: 50%; 
    color: #ffffe4; 
    background-color: #82b181;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 10px;
} 
#python {
    width: 60%; 
    color: #ffffe4; 
    background-color: #f2a7a0;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 10px;
} 
#adaptive {
    width: 80%; 
    color: #ffffe4; 
    background-color: #82b181;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 10px;
} 
#collab {
    width: 90%; 
    color: #ffffe4; 
    background-color: #f2a7a0;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 10px;
} 
#time {
    width: 95%; 
    color: #ffffe4; 
    background-color: #82b181;
    padding-top: 2px;
    padding-left: 10px;
    border-radius: 10px;
} 

/* Contact Page */
#contact {
    font-family: "Katibeh", serif;
    font-weight: 400;  
    font-size:40px; 
    padding: 0px;
    text-align: center;  
    color: #82b181; 
}

.contact-form {
    padding: 40px 0;
    margin: 0 auto; 
    text-align: center; 
}

.form-container {
    text-align: left;
    max-width: 40%;
    margin: 0 auto;
    padding: 50px 70px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-container label {
    display:block;
    font-weight: bold;
}
.form-container input, textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: vertical;
}
.submit-button {
    padding: 10px 20px;
    background-color: #f2a7a0;
    border: none;
    color: #ffffe4;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
}

.social ul {
    display: flex;  
    justify-content: center;  
    gap: 20px; 
    padding: 0;  
    list-style: none;  
    margin: 0;  
}

.social li {
    margin: 0; 
}

.corplogo {
    width: 20px;  
    height: auto;  
    margin: 5px;  
    cursor: pointer;  
    transition: transform 0.3s ease;  
}

.corplogo:hover {
    transform: scale(1.2);  
}
