/* General Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2e7dd
}

header {
    background-color: #d9b99f;
    padding: 10px;
}

#intro {
    color: #292421;
    text-align: center;
}

.credit {
    color: #292421;
    font-size: 12px;
    text-align: center;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Dropdown Button */
.dropbtn {
    background-color: #d9b99f;
    color: #f2e7dd;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Button Hover Effect */
.dropbtn:hover {
    background-color: #d9b99f;
}

/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show Dropdown */
.dropdown-content.show {
    display: block;
}
